# Shadow the BIG files
*.sam
*.bam
*.salmon
data/SRRs
data/trimmed_fastqs

# Shadow vscode files
*.vscode/

# Shadow rust files
src/stats/target/*
# Not shadow the release
!src/stats/target/release
src/stats/target/release/*
!src/stats/target/release/stats

